dask==2025.10.0
matplotlib==3.11.1
netCDF4==1.7.2
numcodecs==0.16.3
numpy==2.5.1
packaging==26.2
pandas==3.0.5
pyproj==3.7.1
rasterio==1.4.3
rioxarray==0.19.0
scikit_learn==1.9.0
scikit_optimize==0.10.2
scipy==1.18.0
seaborn==0.13.2
setuptools==80.9.0
scikit-image==0.25.2
tensorflow==2.20.0
tensorflow_probability==0.25.0
tf_keras==2.20.1
tqdm==4.67.1
xarray==2025.7.1
xgboost==3.3.0
ipywidgets
jupyterlab
ipykernel
notebook
